<tr class="movie">
  <td class="poster"><%= movie_photo movie.poster, :class => "img-polaroid" %></td>
  <!--<td><%= movie.imdb_id %></td>-->
  <td><%= movie.year %></td>
  <td><%= link_to movie.title, movie %></td>
  <td><%= movie.director.to_a.join(", ") %></td>
</tr>
